package journals

import (
	"github.com/timhugh/ledger"
	"github.com/timhugh/ledger/cmd/server/app"
)

templ journalsLayout() {
	@app.Layout() {
		<h2>Journals</h2>
		<div class="journals">
		  { children... }
		</div>
	}
}

templ GetJournalView(journal *ledger.Journal) {
	@journalsLayout() {
		<h3>Journal: { journal.Name }</h3>
	}
}
